
<div class="container">
  <ng-container #container></ng-container>
</div>


<div class="controls">
  <label>
    Mega size:
    <input type="checkbox" [(ngModel)]="big">
  </label>
  <label>
    Type:
    <select [(ngModel)]="type">
      <option value="Pepperoni">Pepperoni</option>
      <option value="Margherita">Margherita</option>
      <option value="BBQ Chicken">BBQ Chicken</option>
      <option value="Hawaiian">Hawaiian</option>
    </select>
  </label>


  <button (click)="createPizza()">Create pizza</button>
</div>
