
:host {
  display: flex;

  position: absolute;
  top: 0;
  left: 0;

  //outline: 1px solid #000;

  will-change: transform;

  width: 90px;
  height: 90px;

  align-items: center;
  justify-content: center;


}
